
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span>Dashboard Page</h1>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="">
				<h3><span class="fa fa-user"></span> Welcome! {{user.first_name}} {{user.last_name}}</h3>
				<p>
					<strong>id</strong>: {{user.id }}<br>
					<strong>username</strong>: {{ user.user_name}}<br>
					<strong>goals</strong> : {{user.fitness_goals}}<br>
					<!-- <strong>password</strong>: {{ user.password}} -->
				</p>

		<div class="col-sm-6">
			<div class="">
				<!-- <h3>workout to do list</h3> -->




			</div>

		</div>



			</div>
		</div>

	</div>

</div>
