<header class="intro-header" style="background-image:url('/assets/images/dashboard.jpg')">
		<div class="container">
				<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
								<div class="site-heading">
										<h1>Welcome back {{user.first_name}} {{user.last_name}}.</h1>
										<hr class="small">
										<span class="subheading"></span>
								</div>
						</div>
				</div>
		</div>
</header>

<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span>Dashboard Page</h1>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="">
				<h3><span class="fa fa-user"></span> Welcome! {{user.first_name}} {{user.last_name}}</h3>
				<p>
					<strong>id</strong>: {{user.id }}<br>
					<strong>username</strong>: {{ user.user_name}}<br>
					<strong>goals</strong> : {{user.fitness_goals}}<br>
					<!-- <strong>password</strong>: {{ user.password}} -->
				</p>

		<div class="col-sm-6">

			<div class="otherUsernames">
				<h2>Other Users&goals</h2>
				<ol>
					{{#each otherUser}}
					<li>
						{{this.user_name}}  & 
						{{this.fitness_goals}}
					</li>
					{{/each}}
				</ol>
			</div>

		</div>



			</div>
		</div>

	</div>

</div>
