<header class="intro-header" style="background-image:url('/assets/images/dashboard.jpg')">
		<div class="container">
				<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
								<div class="site-heading">
										<h1>Profile of {{user.first_name}} {{user.last_name}}.</h1>
										<hr class="small">
										<span class="subheading"></span>
								</div>
						</div>
				</div>
		</div>
</header>


<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span>Profile Page</h1>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="">
				<h3><span class="fa fa-user"></span> Profile of :{{user.first_name}}  {{user.last_name}}</h3>
				<p>
          <a href="/editProfile" class="btn btn-default btn-sm">Edit profile</a>
					<strong>id</strong>: {{user.id }}<br>
          <strong>Information</strong> : {{user.fitness_goals}}<br>
					<strong>Name</strong>: {{ user.first_name}}   {{ user.last_name}}<br>
          <strong>Age</strong> : {{user.user_age}}<br>
          <strong>gender</strong> : {{user.user_gender}}<br>
          <strong>weight</strong> : {{user.user_weight}}<br>
          <strong>goals</strong> : {{user.fitness_goals}}<br>
					<!-- <strong>password</strong>: {{ user.password}} -->
				</p>
				<!-- <button type="button" name="button" class="btn btn-default" href="/profile">Profile</button> -->


			</div>
		</div>

	</div>

</div>
